* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff; }

/*GENERAL*/
/*HEADER*/
header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  box-shadow: 0 0 0.7vh 0;
  box-shadow: #2F2A26/20%;
  z-index: 10; }
  header .navbar {
    width: 100%; }
    header .navbar img {
      display: flex;
      padding-left: 7vw;
      height: 5vh; }
    header .navbar .collapse {
      flex-grow: 0; }
    header .navbar ul {
      list-style-type: none;
      height: 8vh;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      padding-right: 7vw; }
      header .navbar ul li {
        display: flex;
        text-decoration: none; }
        header .navbar ul li a {
          color: #000;
          transition: 1s;
          text-decoration: none;
          border-bottom: solid 0.3vh transparent;
          font-weight: 500; }
          header .navbar ul li a:hover {
            color: #6768ab;
            border-bottom: solid 0.3vh #6768ab; }
          header .navbar ul li a::selection {
            background-color: #6768ab; }

/*MAIN*/
/*BANNER*/
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/bannerindex.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/*CITY TOURS*/
.cityTours {
  background-color: #faf9f9; }
  .cityTours .cityTour {
    text-justify: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5vh 0; }
  .cityTours .tour1, .cityTours .tour2, .cityTours .tour3, .cityTours .tour4, .cityTours .tour5, .cityTours .tour6 {
    padding: 0 0 2vh 0;
    border: solid 0.1vh #6768ab;
    border-radius: 0.3em;
    background-color: #fff;
    transition: 1s;
    display: flex;
    flex-direction: column; }
    .cityTours .tour1:hover, .cityTours .tour2:hover, .cityTours .tour3:hover, .cityTours .tour4:hover, .cityTours .tour5:hover, .cityTours .tour6:hover {
      filter: drop-shadow(0 0.2vh 0.2vh #797979); }
    .cityTours .tour1 img, .cityTours .tour2 img, .cityTours .tour3 img, .cityTours .tour4 img, .cityTours .tour5 img, .cityTours .tour6 img {
      width: 100%;
      filter: grayscale(100%);
      transition: 2s; }
      .cityTours .tour1 img:hover, .cityTours .tour2 img:hover, .cityTours .tour3 img:hover, .cityTours .tour4 img:hover, .cityTours .tour5 img:hover, .cityTours .tour6 img:hover {
        filter: none; }
  .cityTours li {
    list-style-type: none; }
    .cityTours li i {
      color: #000;
      margin-right: 1vh; }

/*QUE OFRECEMOS*/
.servicios {
  background-color: #fff; }
  .servicios .servicio {
    text-justify: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5vh 0; }
  .servicios .serv1, .servicios .serv2, .servicios .serv3, .servicios .serv4, .servicios .serv5, .servicios .serv6 {
    padding: 0 0 2vh 0;
    border: solid 0.1vh #6768ab;
    border-radius: 0.3em;
    background-color: #faf9f9;
    transition: 1s;
    display: flex;
    flex-direction: column; }
    .servicios .serv1:hover, .servicios .serv2:hover, .servicios .serv3:hover, .servicios .serv4:hover, .servicios .serv5:hover, .servicios .serv6:hover {
      filter: drop-shadow(0 0.2vh 0.2vh #797979);
      background-color: #fff; }
    .servicios .serv1 i, .servicios .serv2 i, .servicios .serv3 i, .servicios .serv4 i, .servicios .serv5 i, .servicios .serv6 i {
      color: #6768ab;
      margin: 3vh 0 3vh 0; }

/*NOSOTROS*/
.nosotros {
  display: flex;
  flex-direction: column;
  background-color: #faf9f9;
  padding: 10vh 0 10vh 0;
  height: auto;
  justify-content: center;
  align-items: center; }
  .nosotros p {
    text-align: center;
    text-justify: center;
    padding: 0 5vh;
    margin-top: 6vw; }
  .nosotros .galeria {
    margin-top: 6vw;
    transition: 1s; }
    .nosotros .galeria:hover {
      filter: drop-shadow(0 0.2vh 0.2vh #797979); }

/*CONTACTO*/
.contactanos {
  display: grid;
  height: 100%;
  height: 100%;
  background-image: url(../img/contactanos.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center; }
  .contactanos .titulo {
    grid-area: titulo; }
  .contactanos .formulario {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: start; }
    .contactanos .formulario textarea, .contactanos .formulario .form, .contactanos .formulario select {
      border: none;
      border: 2px solid #6768ab;
      border-radius: 0.3em;
      background-color: #fff;
      width: 100%; }
      .contactanos .formulario textarea:focus, .contactanos .formulario .form:focus, .contactanos .formulario select:focus {
        outline-color: #6768ab; }
    .contactanos .formulario .form, .contactanos .formulario select {
      height: 3.5vh; }
    .contactanos .formulario .radios {
      display: flex;
      flex-direction: column; }
      .contactanos .formulario .radios .form-check-input:checked {
        background-color: #6768ab;
        border-color: #6768ab; }
    .contactanos .formulario .botonLink {
      text-transform: uppercase; }
  .contactanos .icon1 {
    grid-area: icon1;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 2vh 2vh 0; }
  .contactanos .datos1 {
    grid-area: dato1;
    display: flex;
    justify-content: start;
    align-items: center; }
  .contactanos .icon2 {
    grid-area: icon2;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 2vh 2vh 0; }
  .contactanos .datos3 {
    grid-area: dato2;
    display: flex;
    justify-content: start;
    align-items: center; }
  .contactanos .icon3 {
    grid-area: icon3;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 2vh 2vh 0; }
  .contactanos .datos3 {
    grid-area: dato3;
    display: flex;
    justify-content: start;
    align-items: center; }
  .contactanos .icon4 {
    grid-area: icon4;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 2vh 2vh 0; }
  .contactanos .datos4 {
    grid-area: dato4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; }
  .contactanos .redes {
    grid-area: redes;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center; }
  .contactanos .mapa {
    grid-area: mapa;
    width: 100%;
    height: 100%; }
  .contactanos i {
    color: #fff;
    height: 5vh; }
    .contactanos i:hover {
      color: #6768ab; }

/*FOOTER*/
.footerDiv {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center; }
  .footerDiv .divFooter1 {
    display: flex;
    flex-direction: column; }
    .footerDiv .divFooter1 .divLinealFooter1 {
      width: 100%;
      height: 0;
      border-top: 0.1vh;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      margin: 0.5vh 0;
      display: flex;
      align-self: center;
      justify-self: center;
      border-color: #000;
      border-style: solid; }
    .footerDiv .divFooter1 .divFooter1div1 {
      display: flex;
      flex-direction: column; }
  .footerDiv .divFooter2 {
    display: flex;
    flex-direction: column; }
    .footerDiv .divFooter2 .aFooter {
      transition: 1s;
      text-decoration: none;
      color: #000; }
      .footerDiv .divFooter2 .aFooter:hover {
        color: #6768ab; }
  .footerDiv .divFooter3 {
    display: flex;
    flex-direction: column; }
    .footerDiv .divFooter3 .redesSocialesLogo {
      color: #000; }
      .footerDiv .divFooter3 .redesSocialesLogo:hover {
        color: #6768ab; }
    .footerDiv .divFooter3 .facebookLogo {
      margin: 0 1.5vw 0 1.5vw; }
    .footerDiv .divFooter3 .divLinealFooter2 {
      width: 100%;
      height: 0;
      border-top: 0.1vh;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      margin: 0;
      display: flex;
      align-self: center;
      justify-self: center;
      border-color: #000;
      border-style: solid; }
    .footerDiv .divFooter3 .aFooter {
      transition: 1s;
      text-decoration: none;
      color: #000; }
      .footerDiv .divFooter3 .aFooter:hover {
        color: #6768ab; }

.credito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000; }
  .credito p {
    margin: 1vh 0 0.5vh 0; }
  .credito i {
    margin: 0 1vh 1vh 1vh;
    color: #fff; }
    .credito i:hover {
      color: #6768ab; }

/*FUENTES*/
h1 {
  font-family: "Vidaloka", serif;
  color: #fff;
  line-height: 1,5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: #000 0.1em 0.1em 0.2em;
  font-weight: 400;
  text-justify: center;
  text-align: center; }

h2, .h2-w {
  font-family: "Vidaloka", serif;
  color: #000;
  text-justify: center;
  text-align: center; }

.h2-w {
  color: #fff;
  text-justify: center;
  text-align: center; }

h3, .h3--centrado {
  font-weight: 500; }

.h3--centrado {
  text-align: center;
  text-justify: center;
  text-transform: uppercase; }

.fuente--color-black {
  color: #000;
  font-weight: 0;
  line-height: 1.5; }

/*fuente de formulario*/
.fuente__form {
  font-size: 0.9em;
  color: #000;
  padding-left: 1vh; }

.fuente--color-white {
  font-size: 1em;
  color: #fff; }

/*BOTON*/
.btn {
  text-decoration: none;
  color: #fff;
  background-color: #6768ab;
  transition: 1s;
  display: flex;
  border: 0.1vh solid #6768ab;
  border-radius: 0.3em;
  text-transform: uppercase;
  justify-content: center;
  align-content: center; }
  .btn:hover {
    background-color: #fff;
    color: #000; }
  .btn::selection {
    background-color: #6768ab; }

/*MEDIA QUERY - DESKTOP*/
@media screen and (min-width: 769px) {
  /*HEADER + NAV*/
  header {
    height: 8vh;
    position: fixed;
    flex-direction: row; }
    header .navbar {
      width: 100%; }
      header .navbar .linknav {
        padding: 0.5vh 0.5vh;
        font-size: 1em; }
  /*MAIN*/
  main {
    padding-top: 8vh; }
  /*BANNER*/
  .banner {
    height: 92vh; }
    .banner i {
      position: absolute;
      bottom: 10vh;
      right: 10vw;
      color: #fff; }
      .banner i:hover {
        color: #6768ab; }
  /*CITY TOURS*/
  .cityTours {
    display: grid;
    height: 100%;
    width: 100%;
    row-gap: 0vh;
    justify-content: space-around;
    row-gap: 5vw;
    column-gap: 1vh;
    padding-bottom: 10vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh auto auto;
    grid-template-areas: "tour tour tour" "tour1 tour2 tour3" "tour4 tour5 tour6"; }
    .cityTours .cityTour {
      grid-area: tour;
      margin: 10vh 0 0 0; }
    .cityTours .tour1 {
      grid-area: tour1;
      justify-self: end; }
    .cityTours .tour2 {
      grid-area: tour2;
      justify-self: center; }
    .cityTours .tour3 {
      grid-area: tour3;
      justify-self: start; }
    .cityTours .tour4 {
      grid-area: tour4;
      justify-self: end; }
    .cityTours .tour5 {
      grid-area: tour5;
      justify-self: center; }
    .cityTours .tour6 {
      grid-area: tour6;
      justify-self: start; }
  /*QUE OFRECEMOS*/
  .servicios {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #fff;
    row-gap: 0vh;
    justify-content: space-around;
    row-gap: 5vw;
    column-gap: 1vh;
    padding-bottom: 10vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh auto auto;
    grid-template-areas: "serv serv serv" "serv1 serv2 serv3" "serv4 serv5 serv6"; }
    .servicios .servicio {
      grid-area: serv;
      margin: 10vh 0 0 0; }
    .servicios .serv1 {
      grid-area: serv1;
      justify-self: end; }
    .servicios .serv2 {
      grid-area: serv2;
      justify-self: center; }
    .servicios .serv3 {
      grid-area: serv3;
      justify-self: start; }
    .servicios .serv4 {
      grid-area: serv4;
      justify-self: end; }
    .servicios .serv5 {
      grid-area: serv5;
      justify-self: center; }
    .servicios .serv6 {
      grid-area: serv6;
      justify-self: start; }
  /*CONTACTO*/
  .contactanos {
    grid-template-columns: 15% 15% 70%;
    grid-template-rows: 30vh 10vh 10vh 10vh 10vh 30vh 50vh;
    grid-template-areas: "titulo titulo titulo" "icon1 dato1 formulario" "icon2 dato2 formulario" "icon3 dato3 formulario" "icon4 dato4 formulario" "redes redes formulario" "mapa mapa mapa"; }
    .contactanos .titulo {
      margin: 0 0 0 5vh; }
    .contactanos .formulario {
      width: 60%; }
    .contactanos .redes {
      margin-left: 15vh; }
  /*FOOTER*/
  .footerDiv {
    height: auto;
    flex-direction: row;
    justify-content: space-evenly; }
    .footerDiv .divFooter1 {
      flex-direction: column;
      justify-items: start; }
      .footerDiv .divFooter1 .logo {
        height: 5vh;
        margin-top: 5vw; }
      .footerDiv .divFooter1 .divFooter1div1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vw; }
    .footerDiv .divFooter2 {
      display: flex;
      flex-direction: column; }
      .footerDiv .divFooter2 .aFooter {
        transition: 1s;
        text-decoration: none; }
        .footerDiv .divFooter2 .aFooter:hover {
          color: #6768ab; }
    .footerDiv .divFooter3 {
      display: flex;
      flex-direction: column; }
      .footerDiv .divFooter3 .divFooter3div1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; }
        .footerDiv .divFooter3 .divFooter3div1 .redesSocialesLogo {
          height: 2vh; }
        .footerDiv .divFooter3 .divFooter3div1 .facebookLogo {
          margin: 0 1.5vh 0 1.5vh; }
  /*FUENTES*/
  h1 {
    font-size: 4em; }
  h3, .h3--centrado {
    font-size: 1.3em; } }

/*MEDIA QUERY - TABLET*/
@media screen and (min-width: 600px) and (max-width: 768px) {
  /*HEADER + NAV*/
  header {
    position: relative;
    flex-direction: column;
    justify-items: center;
    padding: 1rem; }
    header .navbar {
      width: 100%; }
      header .navbar img {
        justify-content: center;
        margin: 0.1vh 0; }
      header .navbar ul {
        flex-direction: center;
        align-items: center;
        height: 15vh;
        line-height: 1em; }
        header .navbar ul .linknav {
          padding: 0.5vh 0.5vh;
          font-size: 1em; }
  /*MAIN*/
  main {
    padding-top: 0vh; }
  /*BANNER*/
  .banner {
    height: 50vh; }
    .banner i {
      position: relative;
      bottom: 0;
      right: 0;
      color: transparent; }
  /*CITY TOURS*/
  .cityTours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .cityTours .tour1 {
      margin: 0 0 2vh 0; }
    .cityTours .tour2, .cityTours .tour3, .cityTours .tour4, .cityTours .tour5 {
      margin: 1vh 0 2vh 0; }
    .cityTours .tour6 {
      margin: 1vh 0 5vh 0; }
  /*SERVICIOS*/
  .servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .servicios .serv1 {
      margin: 0 0 2vh 0; }
    .servicios .serv2, .servicios .serv3, .servicios .serv4, .servicios .serv5 {
      margin: 1vh 0 2vh 0; }
    .servicios .serv6 {
      margin: 1vh 0 5vh 0; }
  /*CONTACTO*/
  .contactanos {
    grid-template-columns: 40% 60%;
    grid-template-rows: 20vh auto 5vh 5vh 5vh 5vh 15vh 40vh;
    grid-template-areas: "titulo titulo" "formulario formulario" "icon1 dato1" "icon2 dato2" "icon3 dato3" "icon4 dato4" "redes redes" "mapa mapa"; }
    .contactanos .formulario {
      margin-bottom: 10vh;
      width: 70%; }
  /*FOOTER*/
  .footerDiv {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly; }
    .footerDiv .divFooter1 {
      flex-direction: column;
      justify-items: start; }
      .footerDiv .divFooter1 .logo {
        height: 5vh;
        margin-top: 5vw; }
      .footerDiv .divFooter1 .divFooter1div1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vw; }
    .footerDiv .divFooter2 {
      display: flex;
      flex-direction: column; }
      .footerDiv .divFooter2 .aFooter {
        transition: 1s;
        text-decoration: none; }
        .footerDiv .divFooter2 .aFooter:hover {
          color: #6768ab; }
    .footerDiv .divFooter3 {
      justify-items: center;
      align-items: center;
      padding: 0 3%;
      margin-bottom: 5vh; }
      .footerDiv .divFooter3 .redesSocialesLogo {
        height: 2vh; }
      .footerDiv .divFooter3 .facebookLogo {
        margin: 0 1.5vh 0 1.5vh; } }

/*MEDIA QUERY - MOBILE*/
@media screen and (min-width: 0px) and (max-width: 599px) {
  header {
    position: relative;
    flex-direction: column;
    justify-items: center;
    padding: 1rem; }
    header .navbar {
      width: 100%; }
      header .navbar img {
        justify-content: center;
        margin: 0.1vh 0; }
      header .navbar ul {
        flex-direction: center;
        align-items: center;
        height: 15vh;
        line-height: 1em; }
        header .navbar ul .linknav {
          padding: 0.5vh 0.5vh;
          font-size: 1em; }
  /*MAIN*/
  main {
    padding-top: 0vh; }
  /*BANNER*/
  .banner {
    height: 50vh; }
    .banner i {
      position: relative;
      bottom: 0;
      right: 0;
      color: transparent; }
  /*CITY TOURS*/
  .cityTours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .cityTours .tour1 {
      margin: 0 0 2vh 0; }
    .cityTours .tour2, .cityTours .tour3, .cityTours .tour4, .cityTours .tour5 {
      margin: 1vh 0 2vh 0; }
    .cityTours .tour6 {
      margin: 1vh 0 5vh 0; }
  /*SERVICIOS*/
  .servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .servicios .serv1 {
      margin: 0 0 2vh 0; }
    .servicios .serv2, .servicios .serv3, .servicios .serv4, .servicios .serv5 {
      margin: 1vh 0 2vh 0; }
    .servicios .serv6 {
      margin: 1vh 0 5vh 0; }
  /*CONTACTO*/
  .contactanos {
    grid-template-columns: 35% 65%;
    grid-template-rows: 20vh auto 5vh 5vh 5vh 5vh 15vh 40vh;
    grid-template-areas: "titulo titulo" "formulario formulario" "icon1 dato1" "icon2 dato2" "icon3 dato3" "icon4 dato4" "redes redes" "mapa mapa"; }
    .contactanos .formulario {
      margin-bottom: 10vh;
      width: 80%; }
  /*FOOTER*/
  .footerDiv {
    height: auto;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    padding: 3vh 0; }
    .footerDiv .divFooter1 {
      flex-direction: column;
      justify-items: space-between;
      justify-items: center;
      align-items: center; }
      .footerDiv .divFooter1 .logo {
        height: 5vh;
        margin-top: 5vw; }
      .footerDiv .divFooter1 .divFooter1div1 {
        justify-items: space-around;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-bottom: 3vh; }
    .footerDiv .divFooter2 {
      justify-items: center;
      align-items: center;
      flex-direction: column; }
    .footerDiv .divFooter3 {
      justify-items: center;
      align-items: center;
      justify-items: space-between;
      padding: 0 3%;
      margin-top: 3vh;
      margin-bottom: 5vh; }
      .footerDiv .divFooter3 .redesSocialesLogo {
        height: 2vh; }
      .footerDiv .divFooter3 .facebookLogo {
        margin: 0 1.5vh 0 1.5vh; } }
