*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
}

/*GENERAL*/

/*HEADER*/

header{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: 0 0 0.7vh 0;
    box-shadow: #2F2A26/20%;
    z-index: 10;

    .navbar{
        width: 100%;

        img{
            display: flex;
            padding-left: 7vw;
            height: 5vh;
        }        

        .collapse{
            flex-grow:0;
        }

        ul{
            list-style-type: none;
            height: 8vh;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-evenly;
            padding-right: 7vw;

            li{
                display: flex;
                text-decoration: none;

                a{
                    color: #000;
                    transition: 1s;
                    text-decoration: none;
                    border-bottom: solid 0.3vh transparent;
                    font-weight:500;

                    &:hover{
                        color: #6768ab;
                        border-bottom: solid 0.3vh #6768ab;
                    }

                    &::selection{
                    background-color: #6768ab;
                    }
                } 
            }
        }
    }
}

/*MAIN*/

/*BANNER*/
.banner{
    @include banners(url(../img/bannerindex.jpg));
}

/*CITY TOURS*/
.cityTours{
    background-color: #faf9f9;

    .cityTour{
        text-justify: center;
        text-align: center;
        display: flex;
        justify-content: center;
        align-self: center;
        padding: 5vh 0;
    }

    .tour1, .tour2, .tour3, .tour4, .tour5, .tour6{
        padding: 0 0 2vh 0;
        border: solid 0.1vh #6768ab;
        border-radius: $redondeado;
        background-color: #fff;
        transition: 1s;
        display: flex;
        flex-direction: column;

        &:hover{
            filter: $sombraImg;                                    
        }

        img{
            width: 100%;
            filter:grayscale(100%);
            transition: 2s;

            &:hover{
                filter: none;
            }
        }
    }

    li{
        list-style-type: none;
    
        i{
            color: #000;
            margin-right: 1vh;
        }
    }
}


/*QUE OFRECEMOS*/

.servicios{
    background-color: #fff;

    .servicio{
        text-justify: center;
        text-align: center;
        display: flex;
        justify-content: center;
        align-self: center;
        padding: 5vh 0;
    }

    .serv1, .serv2, .serv3, .serv4, .serv5, .serv6{
        padding: 0 0 2vh 0;
        border: solid 0.1vh #6768ab;
        border-radius: $redondeado;
        background-color: #faf9f9;
        transition: 1s;
        display: flex;
        flex-direction: column;

        &:hover{
            filter: $sombraImg;
            background-color: #fff;
        }

        i{
            color:#6768ab;
            margin: 3vh 0 3vh 0;
        }
    }
}

/*NOSOTROS*/

.nosotros{
    display: flex;
    flex-direction: column;
    background-color: #faf9f9;
    padding: 10vh 0 10vh 0;
    height: auto;
    justify-content: center;
    align-items: center;

    p{
        text-align: center;
        text-justify: center;
        padding: 0 5vh;
        margin-top: 6vw;
    }

    .galeria{
        margin-top: 6vw;
        transition: 1s;
    
        &:hover{
            filter: $sombraImg;
        }
    }
}

/*CONTACTO*/
.contactanos{
    display: grid;
    height: 100%;
    height: 100%;
    background-image: url(../img/contactanos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    .titulo{
        grid-area: titulo;
    }

    .formulario{
        grid-area: formulario;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: start;

        textarea{
            border: none;
            border: 2px solid #6768ab;
            border-radius: $redondeado;
            background-color: #fff;
            width: 100%;

            &:focus{
                outline-color: #6768ab;
            } 
        }

        .form, select{
            @extend textarea;
            height: 3.5vh;

            &:focus{
                @extend textarea:focus;
            } 
        }

        .radios{
            display: flex;
            flex-direction: column;

            .form-check-input:checked {
                background-color: #6768ab;
                border-color: #6768ab;
            }
        } 

        .botonLink{
            text-transform:$mayuscula;
        }
    }

    .icon1{
        grid-area: icon1;
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 0 2vh 2vh 0;
    }

    .datos1{
        grid-area: dato1;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .icon2{
        grid-area: icon2;
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 0 2vh 2vh 0;
    }

    .datos3{
        grid-area: dato2;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .icon3{
        grid-area: icon3;
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 0 2vh 2vh 0;
    }

    .datos3{
        grid-area: dato3;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .icon4{
        grid-area: icon4;
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 0 2vh 2vh 0;
    }

    .datos4{
        grid-area: dato4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .redes{
        grid-area: redes;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
    }

    .mapa{
        grid-area: mapa;
        width: 100%;
        height: 100%;
    }

    i{
        color: #fff;
        height: 5vh;
        &:hover{
            color: #6768ab;
        }
    }
}

/*FOOTER*/

.suscripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;

    div{
        display: flex;
        flex-direction: row;
    }
    .suscripcion__email{
        width: 50vw;
        height: 5vh;
    }
}

.footerDiv{
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    
    .divFooter1{
        display: flex;
        flex-direction: column;
    
        .divLinealFooter1{
            @include divLineal(100%, 0, 0.1vh, 0, 0.5vh 0);
        }
    
        .divFooter1div1{
            display: flex;
            flex-direction: column;
        }
    }
    
    .divFooter2{
        display: flex;
        flex-direction: column;
    
            .aFooter{
                transition: 1s;
                text-decoration: none;
                color: #000;
    
                &:hover{
                    color: #6768ab;
                }
            }
        }
    
    .divFooter3{
        display: flex;
        flex-direction: column;
    
        .redesSocialesLogo{
            color: #000;

            &:hover{
                color: #6768ab;
            }
        }
    
        .facebookLogo{
            margin: 0 1.5vw 0 1.5vw;
        }
    
        .divLinealFooter2{
            @include divLineal(100%, 0, 0.1vh, 0, 0)
        }
    
        .aFooter{
            transition: 1s;
            text-decoration: none;
            color: #000;
    
            &:hover{
                color: #6768ab;
            }
        }
    }
}

.credito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    
    p{
        margin: 1vh 0 0.5vh 0;
    }

    i{
        margin: 0 1vh 1vh 1vh;
        color: #fff;

        &:hover{
            color: #6768ab;
        }
    }
}

/*FUENTES*/
h1{
    font-family: $fuenteTitulos;
    color: #fff;
    line-height: 1,5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: $sombraTexto;
    font-weight: 400;
    text-justify: center;
    text-align: center;
}

h2{
    font-family: $fuenteTitulos;
    color:#000;
    text-justify: center;
    text-align: center;
}

.h2-w{
    @extend h2;
    color:#fff;
    text-justify: center;
    text-align: center;
}

h3{

    font-weight: 500;
}

.h3--centrado{
    @extend h3;
    text-align: center;
    text-justify: center;
    text-transform: $mayuscula;
}

.fuente--color-black{
    color: #000;
    font-weight: 0;
    line-height: 1.5;
}

/*fuente de formulario*/
.fuente__form{
    font-size: 0.9em;
    color: #000;
    padding-left: 1vh;
}

.fuente--color-white{
    font-size: 1em;
    color: #fff;
}

/*BOTON*/
.btn{
    text-decoration: none;
    color: #fff;
    background-color: #6768ab;
    transition: 1s;
    display: flex;
    border: 0.1vh solid #6768ab;
    border-radius: $redondeado;
    text-transform: $mayuscula;
    justify-content: center;
    align-content: center;

    &:hover{
        background-color: #fff;
        color: #000;
    }

    &::selection{
        background-color: #6768ab;
    }
}


