$fuenteTitulos: 'Amarante', cursive;
$fuenteTextos: 'Poppins', sans-serif;
$mayuscula: uppercase;
$redondeado: 0.3em;
$sombraImg: drop-shadow(0 0.2vh 0.2vh #000);
$sombraTexto: #000 0.1em 0.1em 0.2em;
