$fuenteTitulos: 'Amarante', cursive;
$fuenteTextos: 'Roboto', sans-serif;
$mayuscula: uppercase;
$redondeado: 0.3em;
$sombraImg: drop-shadow(0 0.2vh 0.2vh rgb(121, 121, 121));
$sombraTexto: #000 0.1em 0.1em 0.2em;

